<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ru.radonezh.radio"
        version     = "2.3.0" >

        <preference name="DisallowOverscroll" value="true" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="Orientation" value="portrait" />
        <preference name="Fullscreen" value="false" />
        <preference name="target-device" value="handset" />
        <preference name="phonegap-version" value="cli-7.1.0" />

        <platform name="android">
            <icon src="www/res/icon/android/ldpi.png" platform="android" qualifier="ldpi" />
            <icon src="www/res/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
            <icon src="www/res/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
            <icon src="www/res/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
            <icon src="www/res/icon/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
            <icon src="www/res/icon/android/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
        </platform>

        <name>
            Радио «Радонеж»
        </name>

        <description>
            Первая независимая радиостанция «Радонеж» не нуждается в представлении. Это не только православное средство массовой информации, но и голос Русской Православной Церкви, как в России, так и за её пределами.
        </description>

        <author href="https://artraut.com" email="info@artraut.com">
            ООО «Арт Раут»
        </author>

        <content src="index.html" />

        <access origin="*" />

        <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
        <plugin spec="https://github.com/hutber/cordova-plugin-backgroundaudio.git" source="git" />
        <plugin name="cordova-plugin-media" spec="~5.0.3" />
        <plugin name="cordova-plugin-inappbrowser" spec="~3.1.0" />
        <plugin name="cordova-plugin-network-information" spec="~2.0.2" />

</widget>
